  
/* @import "./common-css/style-common.scss"; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");


body {
    background-color: #001B3D;
    }
    
    h1 {
      font-family: "Amatic SC", cursive;
      color: #E1F2F7;
    }
    
    p {
      font-family: "Amatic SC", cursive;
      color: #E1F2F7;
    }
  
    #myform{
        padding:10px;
        margin:10px;
        font-size:50px;
    }
  
    .button{
      padding:10px;
      margin:10px;
      font-size:50px;
  
  
    }

main {
    padding-top:100px;
    text-align: center;
    width: 100%;

}




img[title]{
opacity: 0;
transition: opacity 230ms ease-in-out;
animation-iteration-count : infinite;
animation-name:myanimation;
position: relative;
width: 50px;
animation-duration: 8s/*duration*/ ;
}

h1, h2, h3, h4, h5 {
  font-family: "Amatic SC", cursive;
  color: #E1F2F7;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #E1F2F7;
  margin: 0;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px;
  color: #E1F2F7;
  font-size: 20px;
}

@keyframes mysleigh{
   
    from{transform : translateX(0)}
    to{transform: translateX(500px)}


}

.footer-image {
  width: 100%;
}

.footer-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}



img[title] {
  opacity: 0;
  -webkit-transition: opacity 230ms ease-in-out;
  transition: opacity 230ms ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: myanimation;
          animation-name: myanimation;
  position: relative;
  width: 50px;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}


img[target=one] {
  -webkit-animation-name: mysleigh;
          animation-name: mysleigh;
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  top: -20px;
  -webkit-transition: width 2s, height 4s;
  transition: width 2s, height 4s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

img[target=two] {
  -webkit-animation-name: mysleigh;
          animation-name: mysleigh;
  -webkit-animation-duration: 70s;
          animation-duration: 70s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  left: 50px;
}

img[target=three] {
  -webkit-animation-name: mysleigh;
          animation-name: mysleigh;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  right: 0px;
  bottom: 30px;
}

img[target=four] {
  -webkit-animation-name: mysleigh;
          animation-name: mysleigh;
  -webkit-animation-duration: 62s;
          animation-duration: 62s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  left: 100px;
  bottom: 20px;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
          animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

img[target=five] {
  -webkit-animation-name: mysleigh;
          animation-name: mysleigh;
  -webkit-animation-duration: 92s;
          animation-duration: 92s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  top: 200px;
}

img[target=six] {
  -webkit-animation-name: mysleigh;
          animation-name: mysleigh;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  right: 100px;
  bottom: 20px;
}


h1 {
  font-family: "Amatic SC", cursive;
  color: #E1F2F7;
}

p {
  font-family: "Amatic SC", cursive;
  color: #E1F2F7;
}

#myform {
  padding: 10px;
  margin: 10px;
  font-size: 50px;
}

.button {
  padding: 10px;
  margin: 10px;
  font-size: 50px;
}
