@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
body {
  background-color: #001B3D;
  margin: 0;
  padding: 0px;
  position: relative;
  padding-bottom: 20%;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

h1, h2, h3, h4, h5 {
  font-family: "Amatic SC", cursive;
  color: #E1F2F7;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #E1F2F7;
  margin: 0;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px;
  color: #E1F2F7;
  font-size: 20px;
}

.nav-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-image {
  width: 100%;
}

.footer-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main {
  padding-top: 100px;
  height: 68vh;
}

button {
  border: 2px solid #D8E8FD;
  outline: none;
  background: transparent;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  -ms-grid-column-align: center;
      justify-self: center;
}

button h3 {
  color: #E1F2F7;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  grid-gap: 1rem;
  width: 90vw;
  margin: auto;
}

.computer-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60% 20% 20%;
      grid-template-rows: 60% 20% 20%;
  padding: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.computer-card img {
  width: 200px;
}

.replay-btn-div-win, .replay-btn-div-lose {
  display: none;
  position: absolute;
  width: 100%;
  height: 60%;
  padding: 0;
  opacity: .9;
  z-index: 100;
}

#replay, #replay-win {
  position: absolute;
  top: 40%;
  border: 2px solid #F5D3A0;
  height: 350px;
  width: 350px;
  background-color: #F5D3A0;
  border-radius: 50%;
  right: 40%;
  z-index: 1;
  outline: none;
}

#replay h1, #replay-win h1 {
  color: #001B3D;
  font-size: 80px;
  font-weight: 800;
  padding: 10px;
}

.player-card {
  background-color: #B7D4FC;
  width: 80%;
  margin: auto;
  padding: 5px 5px 30px 5px;
  z-index: -1;
  border-radius: 8px;
}

.card-title {
  margin: 0;
  display: Flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-title img {
  width: 80px;
  padding: 5px 0;
}

.card-title h2 {
  color: #001B3D;
  font-size: 80px;
  font-weight: 800;
}

.card {
  border-radius: 10px;
  background-color: #E1F2F7;
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  justify-items: center;
}

.card img {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5px;
}

.card * {
  height: 130px;
  width: 130px;
}

.run-pumping {
  -webkit-animation: pumping 2s alternate 1 ease-in;
          animation: pumping 2s alternate 1 ease-in;
}

.run-animation {
  position: relative;
  -webkit-animation: spinner 2s ease;
          animation: spinner 2s ease;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  20% {
    opacity: .7;
  }
  40% {
    opacity: .5;
  }
  60% {
    opacity: .5;
  }
  80% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(-720deg);
            transform: rotateY(-720deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  20% {
    opacity: .7;
  }
  40% {
    opacity: .5;
  }
  60% {
    opacity: .5;
  }
  80% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(-720deg);
            transform: rotateY(-720deg);
  }
}

@-webkit-keyframes pumping {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

@keyframes pumping {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}
/*# sourceMappingURL=style-bingo.css.map */