@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
body {
  padding: 100px 30px;
  background-color: #001B3D;
}

h1, h2, h3, h4, h5 {
  font-family: "Amatic SC", cursive;
  color: #E1F2F7;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #E1F2F7;
  margin: 0;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px;
  color: #E1F2F7;
  font-size: 20px;
}

.nav-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

img {
  width: 300px;
}

button {
  background-color: #D8E8FD;
  width: 100px;
  border: none;
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 5px;
}

button h3 {
  color: #001B3D;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.computer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.player-card {
  background-color: #B7D4FC;
  width: 910px;
  padding-bottom: 5px;
}

.card-title {
  margin: 0;
  display: Flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-title img {
  width: 80px;
  padding: 5px 0;
}

.card-title h2 {
  color: #001B3D;
  font-size: 80px;
  font-weight: 800;
}

.card {
  border-radius: 5px;
  background-color: #E1F2F7;
  width: 900px;
  height: 680px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  justify-items: center;
  padding: 10px;
}

.card img {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5px;
}

.run-pumping {
  -webkit-animation: pumping 2.5s alternate 2 ease-in;
          animation: pumping 2.5s alternate 2 ease-in;
}

.run-animation {
  position: relative;
  -webkit-animation: spinner 2s ease;
          animation: spinner 2s ease;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  20% {
    opacity: .7;
  }
  40% {
    opacity: .5;
  }
  60% {
    opacity: .5;
  }
  80% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(-720deg);
            transform: rotateY(-720deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  20% {
    opacity: .7;
  }
  40% {
    opacity: .5;
  }
  60% {
    opacity: .5;
  }
  80% {
    opacity: .7;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(-720deg);
            transform: rotateY(-720deg);
  }
}

@-webkit-keyframes pumping {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

@keyframes pumping {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}
/*# sourceMappingURL=style-bingo.css.map */