* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001B3D;
    
}
.border {
    display: flex;
    flex-direction: row;
    background-color: none;
    width: 85vw;
    height: 30px;
    z-index: 2;

    .borderleft {
        height: 30px;
        width: 50px;
        background-image: url(../assets/leftBorder.png);
    }
    .bordermiddle {
        height: 30px;
        width: 75vw;
        background-image: url(../assets/middleBorder.png);
    }
    .borderright {
        height: 30px;
        width: 50px;
        background-image: url(../assets/rightBorder.png);
    }
 }
#gameContainer {
    z-index: -1;
    height: 65vh;
    width: 85vw;
    background-color: #001B3D;
    background-image: url(../assets/bg.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.tiles {
    width: 85vw;
    height: 4vh;
    background-color: black;
    background-image: url(../assets/snowtile.png);
    background-size: 2vw;
    background-position: left top;
    border-radius: 0 0 5px 5px;
}
.moon {
    position: absolute;
    right: 40px;
    top: 50px;
    background-image: url(../assets/moon.png);
    width: 128px;
    height: 128px;
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    position: relative;
}
#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}