@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
body {
  background-color: #001B3D;
  margin: 0;
  padding: 0px;
  position: relative;
  padding-bottom: 20%;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

h1, h2, h3, h4, h5 {
  font-family: "Amatic SC", cursive;
  color: #E1F2F7;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
  color: #E1F2F7;
  margin: 0;
}

.navbar-brand {
  padding-left: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px;
  color: #E1F2F7;
  font-size: 20px;
}

.nav-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-image {
  width: 100%;
}

.footer-image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 25px;
}

i {
  font-size: 35px;
  color: #E1F2F7;
}

a {
  text-decoration: none;
}

/* snow effect start */
.svg-snowscene {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.snow {
  fill: #fff;
  -webkit-animation-name: snowing;
          animation-name: snowing;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.snow:nth-child(2n) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.snow:nth-child(3n) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
  -webkit-animation-duration: 3.3s;
          animation-duration: 3.3s;
}

.snow:nth-child(4n) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}

.snow:nth-child(5n) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

@-webkit-keyframes snowing {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes snowing {
  0% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

/* landing page start */
.landingsection {
  height: 95vh;
  display: -ms-grid;
  display: grid;
  width: 70%;
  margin: auto;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  padding-bottom: 130px;
}

.landingsection img {
  width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: shake 2s infinite ease-in-out;
          animation: shake 2s infinite ease-in-out;
}

.landingsection-text {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.landingsection i {
  color: #E1F2F7;
}

.landingsection p {
  padding: 30px;
}

.landingsection a {
  z-index: 1;
  position: absolute;
}

.christ {
  font-size: 70px;
  font-weight: 700;
}

.typing {
  font-size: 80px;
}

.cross {
  position: relative;
}

.cross::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 8px;
  width: 100%;
  height: 5px;
  background: #E1F2F7;
  -webkit-animation: strike 3s 1;
          animation: strike 3s 1;
}

@-webkit-keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

/* DRAG & DROP GAME start here */
#game {
  height: 90vh;
  width: 70%;
  background-color: #001B3D;
  border-radius: 30px 30px 0 0;
  display: -ms-grid;
  display: grid;
  padding: 100px 0 300px 0;
  margin: auto;
  grid-gap: 20px;
  -ms-grid-columns: 40% 50% 10%;
      grid-template-columns: 40% 50% 10%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
}

#game h3, #game p {
  color: #E1F2F7;
  padding: 30px;
}

#game h3 {
  font-size: 40px;
  font-weight: 700;
}

#game img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.game-text {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
  padding-left: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.game-text-appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.link-game {
  border: 1px solid #E1F2F7;
  border-radius: 8px;
}

.game-small-icon {
  width: 80px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-animation: shake 2s infinite ease-in-out;
          animation: shake 2s infinite ease-in-out;
}

.game-image {
  width: 300px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

/* running game start */
#game-two {
  height: 100vh;
  width: 80%;
  background-color: #B7D4FC;
  border-radius: 30px 30px 0 0;
  display: -ms-grid;
  display: grid;
  padding: 15%;
  margin: auto;
  padding: 100px 0 300px 0;
  -ms-grid-columns: 10% 50% 40%;
      grid-template-columns: 10% 50% 40%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
}

#game-two i {
  color: #001B3D;
}

#game-two h3, #game-two p {
  color: #001B3D;
  padding: 30px;
}

#game-two h3 {
  font-size: 40px;
  font-weight: 700;
}

#game-two img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.game-text-two {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
  padding-right: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.game-text-two-appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.link-game-two {
  border: 1px solid #001B3D;
  border-radius: 8px;
}

.game-small-icon-two {
  width: 80px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation: shake 2s infinite ease-in-out;
          animation: shake 2s infinite ease-in-out;
}

.game-image-two {
  width: 300px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

/* gift generator start here */
#game-three {
  height: 90vh;
  width: 80%;
  background-color: #001B3D;
  border-radius: 30px 30px 0 0;
  display: -ms-grid;
  display: grid;
  padding: 150px 0 300px 0;
  margin: auto;
  -ms-grid-columns: 40% 50% 10%;
      grid-template-columns: 40% 50% 10%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
}

#game-three h3, #game-three p {
  color: #E1F2F7;
  padding: 30px;
}

#game-three h3 {
  font-size: 40px;
  font-weight: 700;
}

#game-three img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.game-text-three {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
  padding-left: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.game-text-three-appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.link-game-three {
  border: 1px solid #E1F2F7;
  border-radius: 8px;
}

.game-small-icon-three {
  width: 80px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-animation: shake 2s infinite ease-in-out;
          animation: shake 2s infinite ease-in-out;
}

.game-image-three {
  width: 300px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

/* bingo start */
#game-four {
  height: 100vh;
  width: 80%;
  background-color: #B7D4FC;
  border-radius: 30px 30px 0 0;
  display: -ms-grid;
  display: grid;
  padding: 15%;
  margin: auto;
  padding: 100px 0 300px 0;
  -ms-grid-columns: 10% 50% 40%;
      grid-template-columns: 10% 50% 40%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
}

#game-four i {
  color: #001B3D;
}

#game-four h3, #game-four p {
  color: #001B3D;
  padding: 30px;
}

#game-four h3 {
  font-size: 40px;
  font-weight: 700;
}

#game-four img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.game-text-four {
  opacity: 0;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
  padding-right: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.game-text-four-appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.link-game-four {
  border: 1px solid #001B3D;
  border-radius: 8px;
}

.game-small-icon-four {
  width: 80px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -webkit-animation: shake 2s infinite ease-in-out;
          animation: shake 2s infinite ease-in-out;
}

.game-image-four {
  width: 300px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .landingsection {
    height: auto;
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -ms-grid-rows: 30% 70%;
        grid-template-rows: 30% 70%;
    padding: 20px 0;
  }
  .landingsection img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #game {
    height: auto;
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -ms-grid-rows: 10% 40% 50%;
        grid-template-rows: 10% 40% 50%;
    padding: 30px 0;
    grid-gap: 5px;
    margin: auto;
  }
  .game-small-icon {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .game-text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding: 0;
  }
  #game-two {
    height: auto;
    -ms-grid-columns: 70%;
        grid-template-columns: 70%;
    -ms-grid-rows: 10% 40% 50%;
        grid-template-rows: 10% 40% 50%;
    padding: 30px 0;
    grid-gap: 5px;
    margin: auto;
    width: 100%;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-small-icon-two {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .game-text-two {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding: 0;
  }
  .game-image-two {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #game-three {
    height: auto;
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -ms-grid-rows: 10% 40% 50%;
        grid-template-rows: 10% 40% 50%;
    padding: 30px 0;
    grid-gap: 5px;
    margin: auto;
  }
  .game-small-icon-three {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .game-text-three {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding: 0;
  }
  #game-four {
    height: auto;
    -ms-grid-columns: 70%;
        grid-template-columns: 70%;
    -ms-grid-rows: 10% 40% 50%;
        grid-template-rows: 10% 40% 50%;
    padding: 30px 0;
    grid-gap: 5px;
    margin: auto;
    width: 100%;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .game-small-icon-four {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .game-text-four {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding: 0;
  }
  .game-image-four {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
/*# sourceMappingURL=style-index.css.map */